@model IEnumerable<AppDesafioCustomIT.Models.Telefone>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumTelefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TelefoneId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TelefoneId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TelefoneId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>