@model AppDesafioCustomIT.Models.ViewModels.PessoaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Telefone</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pessoas.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoas.FirstOrDefault().DataNasc)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Telefones.FirstOrDefault().NumTelefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pes in Model.Pessoas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => pes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => pes.DataNasc)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@pes.Id">Novo</a>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var tel in Model.Telefones.Where(t => t.PessoaId == pes.Id))
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DisplayFor(modelItem => tel.NumTelefone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@tel.TelefoneId">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@tel.TelefoneId">Apagar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
